@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: white;
  /* backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 375px;
  height: 812px;
  border: 8px soild black; */
}

/* Global styles */
html,
body {
  margin: 0;
  padding: 10px;
  width: 100%;
  height: 100%;
}

/* iPhone app wrapper */
/* #__next,
.app-container {
  width: 375px;
  height: 812px;
  background: #f8f9fa;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
  position: relative;
  border: 8px solid #1f1f1f;
}

.footer {
  margin-top: auto;
} */
